
 #button {
  padding: 5px 10px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  margin-left: 850px;
}

#button:hover {background-color: #2e56d8}

#button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
  h2{
      text-shadow: 2px 0px rgb(7, 22, 163);
      margin-left: 850px;
      font-family: 'Ewert', cursive;
  }
  .all{
    font-size: 20px;
    text-shadow: 2px 2px coral;
    margin-left: 850px;
  }
  .form{
    border-radius: 7px;
    border:2px solid rgb(80, 255, 89);
    /* margin-left: 850px; */

  }
  body{
    background-image: url("https://media.istockphoto.com/photos/light-wood-background-picture-id178281439?k=6&m=178281439&s=612x612&w=0&h=xp06gIqA7ABImYwMqXsrOiCdla2S1BIuz-i9XItwXo0=");
    font-family: 'Rye', cursive;
  }
  
  
