<!DOCTYPE html>
<html>
  <head>
   <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">
      <link href="https://fonts.googleapis.com/css?family=Rye&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Ewert&display=swap" rel="stylesheet">
  </head>
  <body>
         
<div class="container-fluid">
        
  <div class="row">
    <h2>Create your Quote:</h2>  
      <form  (ngSubmit)='submitQuote()'  #quoteForm='ngForm' >
          <div class="form-group">
              <div class="form-group">

                  <label class="all" for="name">Your Name:</label><br>
                  <input type="text" class="form" id="owner" [(ngModel)]="newQuotes.name" name="owner" #name='ngModel' required>
                  <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p>Your name is required</p>
                  </div>
              </div>
                  
              <div class="form-group">

                    <label  class="all" for="description">Quote:</label><br>
                    <textarea class="form" id="description" rows="4" [(ngModel)]="newQuotes.description" name="description" #description="ngModel" required></textarea>
                  <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                     <p>Quote is required</p>
                  </div>
              </div>

              <div class="form-group">

                    <label class="all" for="author">Author:</label><br>
                    <input type="text" class="form" id="owner" [(ngModel)]="newQuotes.author" name="author" #author='ngModel' required>
                  <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                    <p>Author's name is required</p>
                  </div>
              </div>
                  <button type="submit" name='submit' id="button" class="btn btn-primary">Add Quote</button>
          </div>
      </form> 
  </div>
</div>

  </body>
</html>