
<div class="container-fluid">
    <h2>Create your Quote:</h2><br>
    <div class="row">
        <form  (ngSubmit)='submitQuote()'  #quoteForm='ngForm' >
            <div class="form-group">
                <div class="form-group">

                    <label class="all" for="name">Your Name:</label><br>
                    <input type="text" class="form" id="owner" [(ngModel)]="newQuotes.name" name="owner" #name='ngModel' required>
                    <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                      <p>Your name is required</p>
                    </div>
                </div>
                    
                <div class="form-group">

                      <label  class="all" for="description">Quote:</label><br>
                      <textarea class="form" id="description" rows="4" [(ngModel)]="newQuotes.description" name="description" #description="ngModel" required></textarea>
                    <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                       <p>Quote is required</p>
                    </div>
                </div>
  
                <div class="form-group">

                      <label class="all" for="author">Author:</label><br>
                      <input type="text" class="form" id="owner" [(ngModel)]="newQuotes.author" name="author" #author='ngModel' required>
                    <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                      <p>Author's name is required</p>
                    </div>
                </div>
                    <button type="submit" name='submit' id="button" class="btn btn-primary">Add Quote</button>
            </div>
        </form>
    </div>
</div>
