header {
    text-align: center;
}
.jumbotron {
    color: white;
    font-family: cursive;
    font-style: italic;
    font-weight: 1000;
    background-color: rgb(19, 16, 14); 
    text-shadow: 4px 2px blue;
}
h2 {
    font-size: 70px;
    
}
