.jumbotron{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.089);
    font-family: 'Black And White Picture', sans-serif;
    font-size: 40px;
    /* colors:'#e0440e', '#e6693e', '#ec8f6e', '#f3b49f', '#f6c7b6'; */
  
  }
  
  .container-fluid{
    background-image: url("https://media.istockphoto.com/photos/light-wood-background-picture-id178281439?k=6&m=178281439&s=612x612&w=0&h=xp06gIqA7ABImYwMqXsrOiCdla2S1BIuz-i9XItwXo0=");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
  }
  .items{
  
      background-color: rgba(255,255,255,0.9);
  }
  ul{
    list-style-type: none;
    text-align: center;
  }
  li{
    margin: 25px;
  }
  button{
    margin-bottom: 10px;
  }
  #listed{
    font-family: 'Courgette', cursive;
  }
  h2{
    font-size: 60px;
    text-shadow: 8px 4px rgb(233, 182, 13);
    color: rgb(35, 16, 204);
    font-family: 'Nosifer', cursive;
  }
  
  .danger {
    border-color: #f44336;
    color: rgb(12, 11, 11);
  }
  
  .danger:hover {
    background: #f44336;
    color: white;
  }

.danger:active {
  background-color: #3e8e41;
  box-shadow: 2px 5px rgb(54, 216, 13);
  transform: translateY(4px);
}
  .success{
    border-color: #4CAF50;
    color: rgb(11, 12, 11);
  }
  .success:hover {
    background-color: #4CAF50;
    color: white;
  }

.success:active {
  background-color: #723020;
  box-shadow: 0 5px rgb(216, 9, 9);
  transform: translateY(4px);
}

#warning {
  color: black; 
  border: 2px solid rgb(11, 25, 214);
  font-size: 30px;
  text-shadow: 2px 2px coral;
}
#warning:hover {
  background-color: rgb(204, 101, 6);
  color: white;
}
#warning:active {
background-color: #31139e;
box-shadow: 0 5px rgb(216, 9, 9);
transform: translateY(4px);
}
#vote{
  font-size: 25px;
  text-shadow: 2px 2px coral;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #primary { width:67%; }
  #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; }
  #secondary { width:100%; margin:0; border:none; }
}